* {
margin: 0;
padding: 0;
outline: none;
color: #808082;
list-style: none;
font-style:normal;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
body, html {
font-family: sans-serif;
font-size: 1em;
background-color: #fff;
line-height: 135%;
min-width: 1024px;
}
a{
color: #808082;
text-decoration: none;
}
input {
background: #ebebeb;
color: #808082;
border-radius: 13px;
border: none;
}
.wrapper {
margin:0 auto;
width: 968px;
}

/*Шапка*/
header {
height: 120px;
background-image:url(img/bg.jpg);
background-position: right bottom;
background-repeat: no-repeat;
}
.blue_cover {
background-color:#0097F4;
opacity: 0.8;
position: relative;
bottom:120px;
z-index: 1;
height: 120px;
}
.header_contain {
height: 120px;
position: relative;
z-index: 2;
max-width: 968px;
min-width: 430px;
margin-left: 25%;
margin-right: 25%;
}
.logo_header_img {
width: 60px;
margin-top: 30px;
float: left;
}
.logo_title {
font-size: 3.3em;
color: #fff;
width: 200px;
margin-left: 5px;
padding-top: 50px;
float: left;
}
.logo_btn {
color: #fff;
border: 2px solid #fff ;
padding: 10px;
border-radius:25px;
width: 140px;
display: block;
float: right;
text-align: center;
margin-top: 40px;
cursor: pointer;
margin-right: 7px;
}
/*Навигация слева*/
nav {
margin-top: 35px;
width: 18%;
float: left;
border-bottom: 1px solid #ebebeb;
}
nav ul {
list-style: none;
}
nav ul li{
margin-bottom: 15px;
width: 15%;
cursor: pointer;
text-align: center;
}
nav ul li a {
border: 2px solid #808082;
padding: 10px;
border-radius:25px;
width: 140px;
display: block;
}
.active_btn { /*добавляем через js при клике*/
border: 2px solid #0097F4 ;
color: #0097F4;
}
.drop_nav {
display: none;
}
.drop_nav_vis {
display: block;
}
/*Основной блок*/
.main {
float: right;
width: 80%;
margin: 35px 0 35px 0;
border-left: 1px solid #ebebeb;
}
.block {
float:left;
margin-left: 3%;
width: 30%;
}
.select {
position: relative;
}
 .blocks_select {
 border-bottom: 1px solid #ebebeb;
}
.select img {
position: absolute;
/*bottom: 27px;
left: 128px;*/
top: 1px;
border-radius: 100%;
cursor: pointer;
}
.rotate_arrow {
transform: rotate(-180deg);
transition: .3s;
}
.drop_list_close{
background-color: #ebebeb;
border-radius:13px;
padding: 5px 0 0 8px;
height: 28px;
}
.dash_drop_list{
 padding: 5px 0 0 15px;
}
.block p {
margin-bottom: 15px;
}
.drop_list {
background-color: #ebebeb;
border-radius:13px;
margin-top: -20px;
padding-top: 25px;
padding-left: 4px;
display: none;
}
.drop_list li {
padding: 5px 0 5px 15px;
}
.drop_list li:hover{
background-color: #cecece;
cursor:pointer;
border-radius:8px;
}
.chosen {
background-color: #dbdbdb;
border-radius:8px;
}
.string {
height: 1px;
background: #ebebeb;
margin-top: 150px;
margin-left: 20px;
}
.btn_addemail,
.btn_search {
float: right;
margin-top: 16px;
margin-right: 5px;
width: 30%;
cursor: pointer;
height: 26px;
border-radius: 14px;
color: #fff;
background: #0097f4;
padding: 3px;
text-align: center;
}

/*Графики*/

.col_wrap {
margin-left: 25px;
margin-top: 25px;
text-align: center;
float: left;
width: 40%;
}
.col_wrap p {
margin-bottom: 20px;
}
.col_img {
margin-top: 10px;
}
.form_date {
height: 30px;
margin-left: 10px;
font-size: 1.1em;
width: 38%;
padding-left: 10px;
}

/*Footer*/

footer {
height: 120px;
clear: both;
background: #2C4F62;
text-align: left;
padding-top: 50px;
}
.col_footer_01,.contacts   {
float: left;
}
.contacts {
display: inline-block;
margin-right: 40px;
}
address {
display: inline-block;
}
.col_footer_02 {
float: right;
display: inline-block;
}
.logo_footer_img {
width: 50px;
margin: -10px 10px 0 0;
float: right;
}
.col_footer_02 span {
float: right;
font-size: 2.5em;
}
.email, .tel, .tel b, .col_footer_02 span, .col_footer_02 span b, address, address b, .tel  {
color:#fff;
}
.drop_menu_for480 {
display: none;
}

/* Для телефонов */

@media (max-width: 480px){
.wrapper {
width: 100%;
}
header {
background: #2C4F62;
}
.logo_title {
font-size: 2.3em;
width: 30%;
margin-left: 10px;
}
.wrapper, .header_contain {
max-width: 480px;
margin-left: 0;
}
.header_contain {
height: 120px;
margin-left: 10px;
}
.logo_btn {
padding: 5px 5px;
width: 25%;
margin-top: 45px;
margin-right: 70px;
}
.main {
width: 100%;
border-left: 1px solid #ebebeb;
}
nav {
width: 480px;
margin:15px 0 0 -10px;
position: relative;
}

nav ul li{
cursor: pointer;
text-align: center;
display: inline-block;
float: left;
width: 20%;
margin-left: 20px;
}
nav ul li a, .active_btn {
border: 0px solid #808082;
width: 100px;
display: block;
}
.drop_menu {
display: none;
}
.block {
width: 27%;
margin-left: 22px;
}
.btn_addemail {
margin-right: 45px;
width: 135px;
}
.select img {
left: 103px;
}
.drop_list_open {
font-size: 0.9em;
}
.col_img img {
width: 200px;
}
.form_date {
width: 43%;
}
footer {
height: 120px;
padding-top: 0px;
}
.contacts, address {
margin: 30px 20px 0 20px;
}
.col_footer_02 span {
display: none;
}
.logo_footer_img {
margin: 27px 30px 0 0;
}
.drop_menu_for480 {
position: absolute;
left: 140px;
top: 35px;
background-color: #ebebeb;
padding: 3px 5px 10px 5px;
border-radius: 10px;
display: none; /*через js меняем на block*/
}
.drop_menu_for480 a{
display:block;
margin-top: 3px;
}
.drop_menu_for480 a:hover {
background-color: #cecece;
cursor:pointer;
border-radius:8px;
 }
.sec_block_01-drop {
max-width: 460px;
 }
}
/*модальное окно e-mail*/
.modal,.modal_addgroup {
background-color: #fff;
width: 350px;
position: fixed;
left: 0;
right: 0;
margin: 0 auto;
top: 200px;
z-index: 1000;
color: #212543;
text-align: center;
border-radius: 15px;
padding: 16px;
display: none;
}
.modal_close {
position: absolute;
top: 4px;
right: 8px;
border-radius: 100%;
width: 16px;
height: 16px;
font-size: 24px;
cursor: pointer;
color: #808082;
}
.modal input, .modal_addgroup input {
height: 26px;
width: 288px;
padding: 3px 12px;
margin-top: 10px;
}
.modal_btn, .modal_btn-addgroup {
padding: 0 32px;
height: 26px;
border-radius: 13px;
background: #0097f4;
color: #fff;
margin-top: 10px;
cursor: pointer;
border:none;
font-size: 1em;
}
/*подложка*/
.modal_underlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.4);
z-index: 999;
display: none;
}
/*Блок настроек*/
.sec_block_01-wrap {
width: 60%;
float: left;
position: relative;
margin-left: 25px;
}
.sec_block_01, .sec_block_01-drop {
background-color: #ebebeb;
border-radius: 13px;
padding: 5px 0 0 8px;
height: 28px;
position: relative;
}
.sec_block_01-drop {
height: 50px;
display: none;
z-index: 10;
left: -8px;
width: 101%;
}
.sec_01 img {
position: absolute;
left: 94%;
top: 1px;
border-radius: 100%;
cursor: pointer;
z-index: 11;
}
.sec_block_02, .sec_02-btn,
.sec_06-btn {
float: right;
margin:35px 5px 0 0;
width: 220px;
cursor: pointer;
height: 26px;
border-radius: 14px;
color: #fff;
background: #0097f4;
padding: 3px;
text-align: center;
}
.sec_block_01-wrap p {
margin: 0 0 15px 6px;
}
.sec_block_01-wrap ul li {
float: left;
margin: 8px 13px 0 10px;
font-size: 0.9em;
}
.sec_block_01-wrap ul li a:hover,
.edit:hover, .del:hover {
color:#0097f4;
}
.sec_block_01-wrap ul li:last-child {
margin-left:  -5px;
margin-right: 0;
}
.sec_block_01-wrap ul li:nth-child(5) {
margin-left: 10px;
margin-right: -3px;
}
.set-string{
margin-top: 120px;
}
/*вторая секция в настройках*/
.set-string-02{
margin-top: 70px;
width: 94%;
}
.sup-string-01 {
margin-top: 165px;
width: 94%;
}
.sec_02-col01 {
width: 800px;
}
.sec_02-title {
margin: 20px 0 0px 20px;
}
.group {
background-color: #ebebeb;
border-radius: 13px;
padding: 5px 0 0 8px;
height: 28px;
width: 25%;
margin: 15px 0 -5px 20px;
display: inline-block;
}
.switcher {
height: 20px;
width: 40px;
background: #808082;
border-radius: 10px;
cursor: pointer;
display: inline-block;
position: relative;
top: 2px;
margin-left: 20px;
transition-duration:0.3s;
}
.switch {
background: #fff;
height: 16px;
width: 16px;
border-radius: 100%;
cursor: pointer;
margin: 2px 0 0 2px;
transition-duration:0.3s;
}
.switch-on {
margin-left: 22px;
}
.switcher-on {
background: #0097f4;
}
.edit, .del{
position: relative;
margin-left: 20px;
}
.sec_02-btn {
float: left;
width: 120px;
 margin: 15px 0 0 20px;
}
.office_name{
float: left;
width: 200px;
display: inline-block;
margin: 20px 40px 0 20px;
}
.widget_name{
width: 330px;
display: inline-block;
margin-top: 20px;
margin-left: 10px;
}
.input_nameof{
height: 26px;
padding: 3px 12px;
margin-top: 10px;
width: 250px;
color: #808082;
font-size: 1em;
}
.office_name input {
width: 210px;
}
.office_name p{
font-size: 0.76em;
text-align: center;
color: #adadad;
line-height: 15px;
margin-top: 7px;
}
.radio, .sec-04-rad-btn {
height: 18px;
width: 18px;
border-radius: 100%;
cursor: pointer;
background: #fff;
border: 2px solid #ced0cf;
display: inline-block;
transition: 0.1s;
}
.check_view {
margin: 5px 0px 0 0px;
}
.check_view p{
font-size: 0.9em;
display: inline-block;
text-align: left;
}
.check_view input {
visibility: hidden;
}
.rad_cheked {
background:url(img/checkbox.png) center center no-repeat;
}
.a-active {
color:#0097f4;
}
.a-disabled {
color:#adadad;
}
.sec-04,.sec-05 {
position: relative;
}
/*Общий стиль серых блоков*/
.typeof{
background-color: #ebebeb;
border-radius: 13px;
padding: 5px 0 0 8px;
height: 28px;
width: 20%;
margin: 15px 0 -5px 20px;
display: inline-block;
float: left;
border-radius:13px;
}
.drop-01{
background-color: #ebebeb;
padding: 8px 0 0 0;
height: 75px;
margin: -5px 0 0 -8px;
border-radius: 0 0 13px 13px;
display: none;
}
.set-string-03 {
margin-top: 40px;
}
.set-string-04 {
margin-top: 90px;
margin-bottom: 10px;
}
.sec-04 p{
margin: 20px 0 0 20px;
}
.drop_listbtn-01,
.drop_listbtn-02 {
position: absolute;
right: 0px;
bottom: 49px;
z-index: 13;
border-radius: 100%;
cursor: pointer;
}
.drop_listbtn-02 {
left:129px;
}
.drop-01 ul li{
cursor: pointer;
margin: 6px 5px 0 -2px;
height: 25px;
padding: 2px 0 5px 5px;
}
.drop-01 ul li:hover{
background-color: #cecece;
border-radius:8px;
}
.your_cont {
border-radius: 13px;
}
.sec-04-rad {
width: 20%;
float: left;
margin: 20px 0 0 20px;
}
.sec-04-rad input, .btn-hidden{
visibility: hidden;
}
.sec-04-rad-btn{
float: left;
}
.sec-04-rad span{
float: left;
margin-left: 10px;
}
.drop{
display: block;
}
/*секция 5*/
.sec-05-p {
margin: 15px 0 0 20px;
}
.sec-05-p-01,
.sec-05-p-02 {
font-size: 0.8em;
color: #adadad;
float: left;
margin: 20px 0 0 20px;
}
.sec-05-p-02 {
margin-left: 110px;
}

.sec-05-img {
position: absolute;
z-index: 13;
border-radius: 100%;
cursor: pointer;
}
.col01img {
right: 0px;
top: -3px;
}
.col02img {
right: -5px;
top: -3px;
}
.col03img {
right: 0px;
top: -3px;
}
.col06img {
right: -5px;
top: -3px;
}
.col05img {
right: 0px;
top: -3px;
}
.col04img {
right: -5px;
top: -3px;
}
.sec01typeof,
.drop-01-col01{
width: 80px;
margin-top: -5px;
}
.sec-05{
height: 200px;
}
.sec-05-col02,
.sec-05-col03,
.sec-05-col04 {
margin-left: 20px;
margin-top: 20px;
}
.sec-05-col01,
.sec-05-col02,
.sec-05-col03,
.sec-05-col04{
position: absolute;
}
.sec-05-col01{
top:10px;
}
.sec-05-col02{
z-index: 20;
top: 45px;
}
.sec-05-col03{
z-index: 19;
top: 80px;
}
.sec-05-col04{
z-index: 18;
top: 115px;
}
.typeofdays {
float: left;
font-size: 0.9em;
margin-right: 70px;
margin-left: 5px;
width: 5%;
}
.from {
float: left;
font-size: 0.9em;
}
.to{
float: left;
font-size: 0.9em;
margin-left: 20px;
}
.typeof-tel {
float: left;
margin-top: -5px;
width: 180px;
}
.set-string-05 {
margin-top: 15px;
}
.sec-06 div:first-child {
margin: 15px 0 5px 20px;
}
.sec-06 p{
font-size: 0.8em;
margin: 0 0 0 20px;
}
.sec-06 iframe {
display: block;
margin: 15px 0 0 20px;
}
.sec-06 input,
.sup_input {
margin: 15px 0 0 20px;
}
.sec_06-btn {
float: left;
margin: 15px 0 10px 60px;
}
/*support*/
.sup_input {
width: 55%;
height: 27px;
padding-left: 15px;
font-size: 1em;
}

.btn_search {
margin-right: 130px;
width: 180px;
}
.question {
margin: 15px 0 0 20px;
}
.see_answ {
margin-left: 30px;
font-size: 0.8em;
color:#adadad;
cursor: pointer;
}
.answ_open {
margin: 0 0 20px 30px;
display: none;
}
.drop{
display: block;
}
.mail_us {
margin: 20px 0 0 20px;
}